.gameBoard{
    /*background-color: red;*/
       width:372px;
       height: 372px;
       margin:  auto;
  
  -webkit-box-shadow: 1px 1px 5px  black;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 5px  black;  /* Firefox 3.5 - 3.6 */
   box-shadow:         1px 1px 10px  black;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

row {
   /* background-color:Blue;*/
    clear:both;
    overflow:hidden;
}

.square{
    float: left;
   background: rgba(255, 255, 255, .9);
    width: 122px;
    height: 122px;
   border: 1px solid black;
   cursor: pointer;
   text-align:center;
   font-size: 100px;
}

.ex{
 background-color:white;   
}

.oh{
    background-color:white;   
}
    
body {
    background: no-repeat center center fixed;
    background: url(http://image.shutterstock.com/z/stock-vector-grunge-simple-x-o-pattern-vector-brush-strokes-374412109.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.spacer {
  padding: 5%;
}